.select__trigger {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-radius: 6px;
  padding: 8px 16px;
  line-height: normal;
  outline: none;
  background-color: white;
  border: none;
  color: hsl(240 4% 16%);
  transition:
    border-color 250ms,
    color 250ms;
  cursor: pointer;
}

/* .select__trigger:hover {
  border-color: hsl(240 5% 65%);
} */

.select__trigger:focus-visible {
  background-color: white;
  /* outline: none; */
  /* outline: 2px solid hsl(200 98% 39%); */
  /* outline-offset: 2px; */
}

/* .select__trigger[data-invalid] {
  border-color: hsl(0 72% 51%);
  color: hsl(0 72% 51%);
} */

.select__value {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}
.select__value[data-placeholder-shown] {
  color: hsl(240 4% 46%);
}
.select__icon {
  height: 20px;
  width: 20px;
  flex: 0 0 20px;
}

.select__content {
  background-color: white;
  border-radius: 6px;
  border: none;
  box-shadow:
    0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
  transform-origin: var(--kb-select-content-transform-origin);
  animation: contentHide 250ms ease-in forwards;
}
.select__content[data-expanded] {
  animation: contentShow 250ms ease-out;
}

.select__listbox {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 8px;
  margin: 0;
  outline: none;
}
.select__item {
  line-height: normal;
  color: hsl(240 4% 16%);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px;
  user-select: none;
  /* Selected item is focused when default value on iOS */
  outline: none;
  padding: 8px 8px;
  cursor: pointer;
}
.select__item[data-disabled] {
  color: hsl(240 5% 65%);
  opacity: 0.5;
  pointer-events: none;
}
.select__item[data-highlighted] {
  background-color: #deb887;
}
.select__item:active {
  background-color: #deb887;
}

.select__section {
  padding: 8px 0 0 8px;
  /* line-height: 32px; */
  color: hsl(240 4% 46%);
}
.select__item-indicator {
  height: 20px;
  width: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.select__itemlabel {
  width: 100%;
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes contentHide {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-8px);
  }
}
